.order{
    margin: 28px 30px;
    overflow-y: scroll;
}
.order__content{
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}
.order__content-filter{   
    display: flex;
}
.order__content_items{
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    .order__content_item{
        border: 1px solid #E0E2E8;
    }
}
.order__heading{
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 33px;
    letter-spacing: -0.725px;
    color: #3D5170;
}