@import '../../../../styles/global.scss';
.menu {
    position: relative;
}
.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.menu-item {
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: -0.234375px;
    box-shadow: inset 0px -1px 0px #e1e5eb;
    text-decoration: none;
    color: $color-basic-text;
}
.menu-item:hover {
    background-color: rgb(240, 234, 234);
}
.active {
    display: block !important;
}
@media (max-width: 1023px) {
}
@media (max-width: 767px) {
    .menu {
        width: 100%;
        display: none;
        position: absolute;
        background-color: white;
    }
    .menu-item {
        width: 100%;
    }
}
