@import '../../../styles/global.scss';

.menu {
    position: relative;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
        0px 2px 4px rgba(90, 97, 105, 0.12),
        0px 7.5px 11px rgba(90, 97, 105, 0.1),
        0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
}
.menu-logo {
    width: 285px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 0px #e1e5eb;
}
.menu-logo-heading-h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $color-basic-text;
}
.menu-logo-heading-h4_margin {
    margin: 0 7px;
}

@media (max-width: 1023px) {
    .menu-logo{
        width: 100%;
    }
}