.wrap {
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.content-left{
    width: 285px;
}
.content-right{
    width: calc(100vw - 285px);
}
.main {
    height: calc(100vh - 136px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}


@media (max-width: 1244px) {
    .content{
        width: 100%;
    }
    .content-left{
        display: none;
    }
    .content-right{
        width: 100vw;
    }
    .wrap {
        flex-direction: column;
    }    
    .menu-logo{
        width: 100%;
    }
    .main{
        overflow-x: scroll;
    }
}

