@import '../../styles/global.scss';
.wrap {
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.content {
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
}
.header {
    width: inherit;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
    background-color: white;
}
.header-search {
    margin: 0 30px;
    display: flex;
    align-items: center;
    .header-search-input {
        border: none;
        outline-color: rgb(93, 131, 118);
        padding: 5px 10px;
    }
}
.header-wrap-alert-user {
    height: 68px;
    display: flex;
}
.header-alert {
    width: 69px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
}
.header-user {
    margin: 0 20px;
    display: flex;
    align-items: center;
}
.header-user-icon {
    border-radius: 50%;
    margin-right: 13px;
}
.header-user-name {
    margin-right: 26px;
}
.menu {
    position: relative;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 1px 75px rgba(90, 97, 105, 0.11),
        0px 2px 4px rgba(90, 97, 105, 0.12),
        0px 7.5px 11px rgba(90, 97, 105, 0.1),
        0px 3.5px 17.5px rgba(165, 182, 201, 0.1);
}
.menu-logo {
    width: 285px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 0px #e1e5eb;
}
.menu-logo-heading-h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: $color-basic-text;
}
.menu-logo-heading-h4_margin {
    margin: 0 7px;
}
.wrap-main-footer {
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer {
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px -0.5px 0px #d7dae3;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.footer-link {
    text-decoration: none;
    color: #007bff;
    margin: 0 27px;
}
.footer-copyright {
    color: #818ea3;
    margin: 0 27px;
}
.burger {
    display: none;
    position: absolute;
    left: 15px;
}
.burger-active{
    fill: #039F67;
}
.test {
    position: absolute;
    z-index: 2;
}
@media (max-width: 1023px) {
}
@media (max-width: 767px) {
    .burger {
        display: block;
    }
    .wrap {
        flex-direction: column;
    }
    .header{
        height: 136px;
        flex-direction: column-reverse;

    }
    .header-search{
        height: 68px;
    }
    .header-wrap-alert-user{
        width: 100%;
        justify-content: space-between;
        align-content: space-between;
        box-shadow: 0px 0px 2px  #cacedb;
       
    }
    .menu-logo{
        width: 100%;
    }
    .wrap-main-footer {
        height: calc(100vh - 136px);
    }
}
