.input-array-formik__label {
    margin-bottom: 10px;
}
.input-array-formik__field {
    display: flex;
}
.input-array-formik__btn-group {
    margin-left: 10px;
}
.input-array-formik__btn-add {
    padding: 5px 15px;
    border: rgb(186, 211, 236);
    border-radius: 5px;
    background-color: rgb(183, 197, 209);
    color: black;
}
