.burger {
    display: none;
    position: absolute;
    left: 15px;
}
.burger-active {
    fill: #039f67;
}
.close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;
}

@media (max-width: 1244px) {
    .burger {
        display: block;
    }
}
