.burger {
    display: none;
    position: absolute;
    left: 15px;
}
.burger-active {
    fill: #039f67;
}
.close {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

@media (max-width: 1244px) {
    .burger {
        display: block;
    }
}
