.select-form__label {
    margin-bottom: 10px;
}
.list {
    width: 224px;
    position: absolute;
    z-index: 1;
    display: none;
    background-color: white;
    border: 1px solid grey;
    overflow: hidden;
}
.list-active {
    display: block;
}
.item {
    margin: 0 10px;
    padding: 5px;
}
.item:hover {
    color: green;
}
.select-form__input-required {
    box-sizing: border-box;
    border: 2px solid red;
}
